.skills {
  .skillz {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    &__item {
      display: inline-block;
      font-family: $Apercu;
      font-size: 0.85rem;
      font-weight: 300;
      padding: 5px 12px;
      border-radius: 3px;
      color: $black;
      border: 1px solid $black;
      background: transparent;
    }
  }
}

.night .skills .skillz__item {
  color: $off-white;
  border-color: $off-white;
}
