<section class="section background">
  <div class="section__title">About</div>
  <div class="section__content">
    <p>
      Nikesh is a civic entrepreneur, open data advocate and tech researcher. He is the co-founder and CEO of <a class="underline-link" href="http://oknp.org" target="_blank">Open Knowledge Nepal</a>, a non-profit civic tech organization comprised of openness aficionados. Alongside, he also manages the international open data network at <a class="underline-link" href="https://okfn.org/" target="_blank">Open Knowledge Foundation</a>. He is a strong supporter of open source software and believes in the vision of Open Knowledge to empower citizens regarding technology usage and open data. He loves coffee chat, tweeting, hackathons, blogging, travelling and open data. Nikesh is a <a class="underline-link" href="https://www.shuttleworthfoundation.org" target="_blank">Shuttleworth Flash Grantee</a> 2016 and <a class="underline-link" href="http://usyc.weinspirenepal.org/" target="_blank"></a>U.S. Embassy Youth Council</a> member 2017/18.
     </p> 
      <p>
      <strong>In parallel with his activities at Open Knowledge Nepal</strong>, he is also engaged with <a class="underline-link" href="http://ainepal.org/" target="_blank">Artificial Intelligence for Development</a> as a founding member and <a class="underline-link" href="http://wiki.fossnepal.org/index.php?title=Main_Page" target="_blank">Free and Open Source Software (FOSS) Nepal</a> community as an executive member and <a class="underline-link" href="https://yigf.org.np/" target="_blank"></a>Youth IGF Nepal</a> as a founding member. Previously, Nikesh also worked with <a class="underline-link" href="http://codefornepal.org/" target="_blank">Code for Nepal</a> as a program coordinator. In his daily work schedule, he coordinates diverse projects related to tech & data, writes research & report, scrapes & harvest government data and sometimes codes. He has a long experience of working with private, nonprofit and government organizations.
    </p>

    <!-- {% include employment-status.html %} -->
  </div>
</section>
