<section class="section featured-projects">
  <div class="section__title">Featured Projects</div>
  <div class="section__content">
    <div class="project blistabloc">
      <figure class="project__pic">
        <a href="http://opendatanepal.com" target="_blank">
          <img src="{{site.baseurl}}/img/featured/opendatanepal/opendatanepal.png" alt="">
        </a>
      </figure>
      <figcaption class="project__caption">
        <div class="project__name">
          <a href="http://opendatanepal.com" target="_blank">Open Data Nepal</a>
        </div>
        <p>Open Data Nepal is a civil society initiative to make Nepal’s data accessible online perpetually. The portal allows users to publish, explore, download and use data to make their own visualisations, apps and services without any restriction.</p>
      </figcaption>
    </div>

    <div class="project blistabloc">
      <figure class="project__pic">
        <a href="http://odap.oknp.org/" target="_blank">
          <img src="{{site.baseurl}}/img/featured/odap/odap.png" alt="">
        </a>
      </figure>
      <figcaption class="project__caption">
        <div class="project__name">
          <a href="http://odap.oknp.org/" target="_blank">Open Data Awareness Program</a>
        </div>
        <p>Open Data Awareness Program aims to raise awareness about the concept and usage of open data to Nepal’s digital natives (university students from different academic backgrounds), who are the potential future decision-makers in government, civil society, and the private sector.</p>
      </figcaption>
    </div>

    <div class="project blistabloc">
      <figure class="project__pic">
        <a href="https://fellowship.oknp.org/" target="_blank">
          <img src="{{site.baseurl}}/img/featured/fellowship/fellowship.png" alt="">
        </a>
      </figure>
      <figcaption class="project__caption">
        <div class="project__name">
          <a href="https://fellowship.oknp.org/" target="_blank">Open Data Fellowship</a>
        </div>
        <p>The fellowship aims to increase the number of women leaders in the field of open data in Nepal & use the existing expertise of different organizations to provide a good exposure to women and equip them with valuable work experience, confidence and skills that will help them to better understand the data ecosystem and potential opportunities.</p>
      </figcaption>
    </div>
  </div>
</section>
